@import "../../../styles/imports.sass";

.backdrop {
	position: fixed;
	align-items: center;
	justify-content: center;
	right: 0px;
	bottom: 0px;
	top: 0px;
	left: 0px;
	background-color: $bg-color-backdrop;
	-webkit-tap-highlight-color: transparent;
	z-index: 90;
}
