.l
    --1: #AACB73
    --2: rgb(249, 244, 237)
    --6: rgba(250, 235, 215, 0.488)
    --3: #000000
    --4: #55595d
    --5: #006adc

.d
    --1: #AACB73
    --2: #131212
    --6: #13121271
    --3: #f0f6df
    --4: #b9bbbc
    --5: #8bbff6

$primary-color: var(--1)
$bg-color: var(--2)
$bg-color-backdrop: var(--6)

$font-color-primary: var(--3)
$font-color-secondary: var(--4)
$font-color-accent: var(--5)
