.l
    --1: #AACB73
    --2: rgb(249, 244, 237)
    --7: rgb(199, 192, 182)
    --8: rgb(221, 216, 209)
    --6: rgba(250, 235, 215, 0.488)
    --3: #000000
    --4: #55595d
    --5: #006adc
    --9: #151515

.d
    --1: #AACB73
    --2: #131212
    --7: #3c3b3b
    --8: #595858
    --6: #13121271
    --3: #f0f6df
    --4: #ced0d1
    --5: #8bbff6
    --9: #d6eaff

$primary-color: var(--1)
$bg-color: var(--2)
$bg-color-light: var(--7)
$bg-color-lighter: var(--8)
$bg-color-backdrop: var(--6)

$font-color-primary: var(--3)
$font-color-secondary: var(--4)
$font-color-accent: var(--5)
$font-color-title: var(--9)
