@import "./theme"
@import "./imports"
@import "./utils"

body
    font-family: $sans
    padding: .3em
    background-color: $bg-color
    color: $font-color-primary
    scroll-behavior: smooth
    overflow-x: hidden
    overflow-y: scroll
    transition: all .5s ease

a
    text-decoration: none
    color: $font-color-accent

main
    @include desk
        margin: 3em
        margin-top: 1em

    & *
        animation: dropin .6s ease

@keyframes dropin
    from
        transform: translateY(-70px)
        opacity: 0

    to
        transform: translateY(0px)
        opacity: 1

*
    box-sizing: border-box

::-webkit-scrollbar,
::-webkit-scrollbar-track
    background-color: transparent

::-webkit-scrollbar-thumb
    background-color: $scrollbar-color
    border: 5px solid transparent
    background-clip: content-box
    border-radius: 10px

.nd
    display: none
