---
import { EMAIL_URL, GITHUB_URL, TWITTER_URL } from "~/config"
import { Hoverable } from "../decorative/cursor/Cursor"
---

<footer>
	<div>Zihan Chen. <br />This site is open source at Github.</div>
	<div>
		<Hoverable client:idle>
			<a target="_blank" href={GITHUB_URL}>My Github</a>
		</Hoverable>
		<br />
		<Hoverable client:idle>
			<a target="_blank" href={TWITTER_URL}>My Twitter</a>
		</Hoverable>
		<br />
		<Hoverable client:idle>
			<a target="_blank" href={EMAIL_URL}>My Email</a>
		</Hoverable>
		<br />
	</div>
</footer>

<style lang="sass">
	@import "../../styles/global.sass"
	footer
		margin: 4em
		margin-top: 10em
		display: flex
		justify-content: space-between
		align-items: center

		& *
			color: $font-color-secondary
</style>
