---
import { Hoverable } from "../decorative/cursor/Cursor"
---

<footer>
	<div>Zihan Chen. <br />This site is open source at Github.</div>
	<div>
		<Hoverable client:idle>
			<a target="_blank" href="https://github.com/zihan-ch">My Github</a>
		</Hoverable>
		<br />
		<Hoverable client:idle>
			<a target="_blank" href="https://twitter.com/zihanch">My Twitter</a>
		</Hoverable>
		<br />
		<Hoverable client:idle>
			<a target="_blank" href="mailto:zccmczh@gmail.com">My Email</a>
		</Hoverable>
		<br />
	</div>
</footer>

<style lang="sass">
	@import "../../styles/global.sass"
	footer
		margin: 4em
		margin-top: 10em
		display: flex
		justify-content: space-between
		align-items: center

		& *
			color: $font-color-secondary
</style>
