---
import { getCollection } from "astro:content"
import PostCard from "~/components/functional/PostCard.astro"
import Layout from "~/layouts/Layout.astro"
import { filterPosts, sortPosts } from "~/lib/post"

const posts = filterPosts(sortPosts((await getCollection("blog")) as any))
---

<Layout title="My blog posts">
	<h1>My blog posts</h1>
	<div id="posts">
		{posts.map((post) => <PostCard post={post} />)}
	</div>
</Layout>

<style lang="sass">
	@import "style"

	h1
		font-family: $serif

	#posts
		margin-top: 3.5em
		@include desk
			display: grid
			grid-template-columns: repeat(2, 1fr)
			gap: 1.7em
</style>
