---
import { getCollection, getEntryBySlug, CollectionEntry } from "astro:content"
import { GetStaticPaths } from "astro"
import Layout from "~/layouts/Layout.astro"
import "~/styles/typography.sass"
import { getDateString } from "~/lib/post"

export const getStaticPaths: GetStaticPaths = async () => {
	const posts = await getCollection("blog")

	return posts.map((post) => ({
		params: { slug: post.slug },
	}))
}

const { slug } = Astro.params as { slug: CollectionEntry<"blog">["slug"] }
const post = await getEntryBySlug("blog", slug)
const content = await post.render()
const { Content } = content
---

<Layout title={post.data.title}>
	<article>
		<a href="javascript:window.location.hash='title';scrollToThePos();">
			<h1 id="title" class="post-title">{post.data.title}</h1>
        </a>
		<span class="post-date">{getDateString(post.data.date)}</span>
		<p class="post-desc">{post.data.description}</p>

		<Content />
	</article>
</Layout>

<style lang="sass">
	@import "style"

	.post-title
		font-size: 3em
		font-family: $serif
		color: $font-color-primary

	article
		margin: 4em

	.post-date
		color: $font-color-secondary
		font-size: 1em

	.post-desc
		color: $font-color-secondary
		font-size: 1.1em
</style>
